/.project
/.settings/
/Ui-center/.settings
/Ui-center/target
/Ui-center/.project
/Core/target
/Core/.settings
/BlockchainHealthBusiness/.settings
/BlockchainHealthBusiness/target
/BlockchainHealthBusiness/.project